body {

    font-family: 'Cairo', sans-serif;
}

a {

    color: black;
    text-decoration: none;
}

ul {
    list-style-type: none;

}
  
li {
    display: inline;
    margin: 0 10px; 
}

a:hover {

    color: #ff8364;
}

.container {

    
    
    text-align: center;
    padding: 5% 5%;
}

.btn {

    border:#ff8364;
    background-color: #ff8364;
}

.title {

    font-family: 'Bebas Neue';
    margin-bottom: 25px;
}

.footer {

    text-align: center;
    padding-top: 85px;
    padding-bottom: 15px;
    background-color: #ff8364;
}

.nav-bar {

    margin-bottom: 25px;
}

.our-attributes {

    margin: 3rem 2rem;
}

@media (max-width: 900px){

    .container {

        text-align: center;
        padding: 5% 10%;
    }
}